<!DOCTYPE html>
<html>
<head>
    <title>Transport</title>
    <style>

        body {
            background-color: #182D3C; /* 設定網頁背景顏色為灰色#0f2d3f */
            margin: 0; /* 移除預設的頁面邊距 */
            padding: 0; /* 移除預設的元素內距 */
        }
        .image-container {
            display: flex;
            justify-content: center;
        }

        .image-container img {
            width: 200px;
            height: auto;
            margin-right:20px;
            margin-left:20px;
        }
    </style>
</head>
<body>
    <div style="text-align: center;border: 2px;">
    <h1 style="color: #ffffff;">請選擇運輸工具</h1>
    <h2 style="color: #ffffff;">time:{{now}}</h2>

    <div class="image-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/ROC_Taiwan_Railways_Administration_Logo.svg/2052px-ROC_Taiwan_Railways_Administration_Logo.svg.png" alt="TR" onclick="window.location.href='TRA/'">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Taiwan_High_Speed_Rail_symbol.svg/2048px-Taiwan_High_Speed_Rail_symbol.svg.png" alt="HSR" onclick="window.location.href='THSR/'">
        <img src="https://upload.wikimedia.org/wikipedia/zh/d/d1/Taipei_Metro_Logo.svg" alt="METRO" onclick="window.location.href='Metro/'">
    </div>
    

    <div>
        <h1></h1>

        <h2 style="color: #ffffff;">資工二 B1043001 許良亦</h2>
        <h2 style="color: #ffffff;">資工二 B1043003 陳麒安</h2>
        <h2 style="color: #ffffff;">資工二 B1043029 陳韋捷</h2>
        <h2 style="color: #ffffff;">資工二 B1043047 高誠宏</h2>
        <h2 style="color: #ffffff;">資工二 B1043054 葉昀泓</h2>
        <h2 style="color: #ffffff;">資工二 B1143303 塗晉愷</h2>
    </div>

</body>
</html>